<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--socket服务地址 TCP/IP 120.132.30.130-->
    <!--正式线上47.96.62.136-->
    <add key="socketServer" value="47.96.62.136"/>
    <!--socket端口-->
    <add key="socketPort" value="9000"/>
    <!--内容页地址 测试环境120.132.30.130:8092  正式地址http://supplier.viptool.cn-->
    <add key="website" value="http://supplier.viptool.cn"/>
    <!--今日询货单页面地址-->
    <add key="consultUrl" value="../Pages/ConsultPage.xaml"/>
    <!--今日供应单页面地址-->
    <add key="supplyBillUrl" value="../Pages/SupplyBillPage.xaml"/>
    <!--我的供货单页面地址-->
    <add key="mySupplyBillUrl" value="../Pages/SupplyBillPage.xaml"/>
    <!--桌面-->
    <add key="deskTopUrl" value="../Pages/HomePage.xaml"/>
    <!--产品中心-->
    <add key="productUrl" value="/supplyProductAudit/supplyProductList"/>
    <!--审核管理-->
    <add key="checkManageUrl" value="/supplyProductAudit/list"/>
    <!---->
    <add key="checkManageTree1Url" value="/supplyProductAudit/list"/>
    <add key="checkManageTree2Url" value="/supplyProductAudit/productList?isNormal=1"/>
    <add key="checkManageTree3Url" value="/supplyProductAudit/productList?isNormal=0"/>
    <add key="checkUpdateUrl" value="http://f20.t.fhsilk.com/version.json"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>